<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" required [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required  [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    {{mypassword}}
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="signin()" >Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>

  <ion-text color="danger">
    <div *ngIf="userDoesntExist == true">
    <h1>Incorrect username or password</h1>
    </div>
  </ion-text>
</ion-content>